{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__QA__"       : false,
    "__STAGING__"  : false,
    "__COVERAGE__" : false,
    "CONF"         : false,
    "__VARIABLES__" : {}
  },
  "rules": {
    "semi": [
            "error",
            "always"
        ],
    "react/prop-types": 0
  }
}
