@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$primaryLightColor: #43cea2;
$primaryDarkColor: #185a9d;
$fontColor: #fff;

body {
  background: $primaryDarkColor center no-repeat;
  background: -webkit-linear-gradient(to right, $primaryLightColor, $primaryDarkColor) center no-repeat; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, $primaryLightColor, $primaryDarkColor) center no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, $primaryLightColor, $primaryDarkColor) center no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $primaryLightColor, $primaryDarkColor) fixed center no-repeat; /* Standard syntax */
  color: $fontColor;
  
}
